<h3> Pricing: </h3>

<div>
<ul>
    <li> Dozen cupcakes $24.00 </li>
    <li> Half-dozen cupcakes $15.00 </li>
    <li> Individual cupcakes $3.00 </li>
</ul>
</div>

<div>
   <h3> Everyday Flavors:</h3>
    <ul>
        <li>French Vanilla</li>
        <li>German Chocolate</li>
        <li>Red Velvet</li>
        <li>Carrot Cake</li>
        <li>Hazlenut Coffee</li>
        <li>Snickerdoodle</li>
        <li>Pina Colada</li>
    </ul>
    <a href="/pdf/SeasonalFlavorsMenu.pdf" download>Click to download our seasonal flavors!</a>
</div>

<div>
  <img src="/images/Avatar_cupcake.png" />
</div>

<div class="citations">
   <a href="https://commons.wikimedia.org/wiki/File:Avatar_cupcake.png">Cupcake image</a> by Chromium project licensed under <a href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-clause</a> license
</div> 
