<h3> Contact Us </h3>

<div><a href="http://www.yelp.com">Find us on Yelp!</a></div>

<br><br><br> 

<form action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
  <fieldset>
    <legend>Sign up for email updates:</legend>
    <fieldset>
      <label>Name:
        <input type="text" name="text_input" size="30" maxlength="100">
      </label>
      <br />
    </fieldset>
    <fieldset>
      <label>Email:
        <input type="email" name="email" size="30" maxlength="100">
      </label>
      <br />
    </fieldset>
    <fieldset>
      <p>Please vote for next month's special cupcake flavor!
        <br/>
      <label>
        <input type="radio" name="flavor" value="Pink Lemonade" />Pink Lemonade</label>
        <br/>
      <label>
        <input type="radio" name="flavor" value="Boston Cream" />Boston Cream</label>
          <br/>
      <label>
        <input type="radio" name="flavor" value="Horchata" />Horchata</label>
          <br/>
      </p>
    </fieldset>
    <br />
    <input type="submit" value="Submit" />
  </fieldset>
</form>

