<link rel="stylesheet" href="/css/home.css" type="text/css">

<div id="homeDiv">
    <h3 id="quote" > "Let them eat cupcakes" </h3>
    <img id="carouselImage" src="/images/carousel/Flower.jpg">
    <div id="buttonDiv"></div>
</div>

<div class="citations" style="margin-top: 25px;">
    Cupcake Icon by Shannon E Thomas/toicon.com is licensed under the 
    <a href="https://creativecommons.org/licenses/by/4.0/deed.en"> Creative Commons Attribution 4.0 International </a> license. 
    <br>
    Cupcake Images by Clever Cupcakes from Montreal, Canada are licensed under the <a href ="https://creativecommons.org/licenses/by/2.0/deed.en"> Creative Commons Attribution 2.0 Generic </a> license.</footer> 
</div>

<script src="/js/home.js"></script>
